.board-space-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    border: 1px solid;
    display: inline-block;
}

.game-board-row {
    display: flex;
}

.board-space {
    border: 2px solid;
    width: var(--tank-game-cell-size);
    height: var(--tank-game-cell-size);
    flex-direction: column;
}

.board-space-entity {
    width: 90%;
    height: 90%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.board-space-coordinate {
    background: var(--tank-game-coordinate-bg);
}

.board-space-disabled {
    opacity: 0.3;
    background: #555;
}

.board-space-selectable {
    cursor: pointer;
}

.board-space-selected {
    background: red !important;
}
