.log-entry-invalid {
    color: var(--tank-game-red);
}

.log-book {
    border: 1px solid #000;
    overflow: auto;
    max-height: 800px;
    margin-right: 15px;
}

.log-book-link {
    color: inherit;
    text-decoration: none;
    padding: 5px;
    display: block;
}

.log-entry:hover {
    background: #eee;
}

.log-entry.log-entry-current-turn {
    background: #1818a2;
    color: #fff;
}

.log-entry.log-entry-current-turn.log-entry-invalid {
    background: var(--tank-game-red);
    color: #000;
}

.log-book-day-heading {
    position: sticky;
    top: 0px;
    background: #333;
    color: #fff;
    margin-top: 0px;
    padding: 5px 8px;
}