.submit-turn-field {
    padding: 5px;
    display: inline-flex;
}

.submit-turn-field:first-child {
    padding-left: 0px;
}

.submit-turn {
    padding: 5px 0px;
}

.submit-turn-field > b {
    padding-right: 5px;
}

.radio-container {
    display: inline-block;
}

.radio-button-wrapper, .radio-button-wrapper > label {
    padding: 5px 0px;
}