.selectable-game {
    border: 1px solid #777;
    padding: 8px;
    margin: 10px 0px;
    cursor: pointer;
    transition: box-shadow 300ms;
}

.selectable-game:hover {
    box-shadow: 0px 0px 8px #777;
}