.board-space-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    user-select: none;
    border: 1px solid;
    display: inline-block;
}

.game-board-row {
    display: flex;
}

.board-space.board-space-cut {
    border: 2px dashed;
}

.board-space {
    border: 2px solid;
    width: var(--tank-game-cell-size);
    height: var(--tank-game-cell-size);
    flex-direction: column;
}

.board-space-entity-wrapper {
    width: 90%;
    height: 90%;
    border: 1px solid #000;
}

.board-space-coordinate {
    background: var(--tank-game-coordinate-bg);
}

.board-space-disabled {
    opacity: 0.3;
    background: #555;
}

.board-space-selectable {
    cursor: pointer;
}

.board-space-selected-overlay {
    width: 100%;
    height: 100%;
}

.board-space-overlay-selected {
    background: url('../../../public/assets/selected.png');
}