.submit-turn-box {
    background: #eee;
    padding: 7px 15px;
    margin: 10px;
}

.submit-turn-title {
    display: flex;
}

.submit-turn-title > h2 {
    flex-grow: 1;
}

.submit-turn-form {
    min-width: 650px;
}

.submit-turn-field-wrapper {
    display: flex;
}

.submit-turn-field {
    padding: 5px;
}

.submit-turn-field:first-child {
    padding-left: 0px;
}

.submit-turn {
    padding: 5px 0px;
}

.submit-turn-field > b {
    padding-right: 5px;
}

.submit-action-button-wrapper {
    text-align: right;
}

.radio-container {
    display: inline-block;
}

.radio-button-wrapper, .radio-button-wrapper > label {
    padding: 5px 0px;
}

.submit-turn-description {
    max-width: 250px;
}

.submission-error-wrapper {
    background: #f00;
    border: 5px solid #a00;
    padding: 10px 5px;
    border-radius: 6px;
    margin-top: 15px;
    color: #fff;
}

.submission-error-title {
    display: flex;
    margin-bottom: 15px;
}

.submission-error-title h3 {
    margin: 0px;
    flex-grow: 1;
}
