.submit-turn-box {
    background: #eee;
    padding: 7px 15px;
    margin: 10px;
}

.submit-turn-title {
    display: flex;
}

.submit-turn-title > h2 {
    flex-grow: 1;
}

.submit-turn-form {
    min-width: 650px;
}

.submit-turn-field-wrapper {
    display: flex;
}

.submit-turn-field {
    padding: 5px;
}

.submit-turn-field:first-child {
    padding-left: 0px;
}

.submit-turn {
    padding: 5px 0px;
}

.submit-turn-field > b {
    padding-right: 5px;
}

.submit-action-button-wrapper {
    text-align: right;
}

.radio-container {
    display: inline-block;
}

.radio-button-wrapper, .radio-button-wrapper > label {
    padding: 5px 0px;
}