:root {
    --tank-game-blue: cyan;
    --tank-game-green: green;
    --tank-game-yellow: yellow;
    --tank-game-orange: orange;
    --tank-game-red: red;
    --tank-game-coordinate-bg: #999;
    --tank-game-bg: #fff;
}
