:root {
    --tank-game-blue: cyan;
    --tank-game-green: green;
    --tank-game-yellow: yellow;
    --tank-game-orange: orange;
    --tank-game-red: red;
    --tank-game-coordinate-bg: #999;
    --tank-game-bg: #fff;
    --tank-game-cell-size: 65px;
    --sidebar-width: 350px;
}

html, body {
    margin: 0;
    user-select: none;
}

.app-side-by-side {
    flex-wrap: wrap;
}

.app-turn-invalid {
    color: red;
    padding: 8px 0px;
}

.app-side-by-side-main {
    margin-right: 25px;
}

.centered {
    display: flex;
    justify-content: center;
}

.debug-mode-banner {
    background: var(--tank-game-yellow);
    width: calc(100% - 16px);
    text-align: center;
    padding: 8px;
}

.app-content {
    flex-grow: 1;
    margin: 8px;
}

.app-wrapper.with-sidebar {
    margin-left: var(--sidebar-width);
}

footer {
    padding: 15px;
    text-align: center;
}

.app-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: var(--sidebar-width);
    height: 100%;
    overflow: auto;
    border-right: 1px solid;
    background: #fff;
}

h1, h2, h3 {
    margin: 5px 0px;
}

.pretty-table {
    border-collapse: collapse;
}

.pretty-table td, .pretty-table th {
    border: 1px solid #000;
    padding: 2px 7px;
}

.pretty-table th {
    background: #333;
    color: #fff;
}
