:root {
    --tank-game-blue: cyan;
    --tank-game-green: green;
    --tank-game-yellow: yellow;
    --tank-game-orange: orange;
    --tank-game-red: red;
    --tank-game-coordinate-bg: #999;
    --tank-game-bg: #fff;
    --tank-game-cell-size: 60px;
}

body {
    margin: 0;
    user-select: none;
}

footer {
    padding: 8px 3px;
    text-align: center;
}

.app-side-by-side {
    flex-wrap: wrap;
}

.app-turn-invalid {
    color: red;
    padding: 8px 0px;
}

.app-side-by-side-main {
    margin-right: 25px;
}

.centered {
    display: flex;
    justify-content: center;
}

.debug-mode-banner {
    background: var(--tank-game-yellow);
    width: calc(100% - 16px);
    text-align: center;
    padding: 8px;
}

.app-wrapper {
    margin: 8px;
}

h1, h2, h3 {
    margin: 5px 0px;
}