:root {
    --tank-game-blue: cyan;
    --tank-game-green: green;
    --tank-game-yellow: yellow;
    --tank-game-orange: orange;
    --tank-game-red: red;
    --tank-game-coordinate-bg: #999;
    --tank-game-bg: #fff;
    --tank-game-cell-size: 60px;
}

footer {
    padding: 8px 3px;
    text-align: center;
}