.message {
    padding: 15px;
    border-radius: 15px;
    border: 3px solid;
    margin: 10px 0px;
}

.error {
    background: var(--tank-game-red);
    border-color: #a00;
    color: #fff;
}

.success {
    background: #0f0;
    border-color: #0a0;
}

.warning {
    background: #ff0;
    border-color: #aa0;
}